<h2 mat-dialog-title>Edit image data</h2>
<form (ngSubmit)="saveImage()" [formGroup]="editImageForm">
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="datepicker" formControlName="date" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-error *ngIf="editImageForm.controls.date.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="location"
        placeholder="Location"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto>
        <mat-option *ngFor="let location of locationsObservable | async" [value]="location">
          {{location}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="editImageForm.controls.location.hasError('forbiddenLocation')">
        Select a <strong>valid location</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <button mat-raised-button color="primary" type="submit" [disabled]="editImageForm.invalid || loading">
      Save
    </button>
    <button mat-raised-button color="accent" [mat-dialog-close]="false">
      Cancel
    </button>
    <mat-spinner *ngIf="loading" diameter="30" fxLayoutAlign="end"></mat-spinner>
  </div>
</form>
