@use "@material/image-list";
@use "@material/image-list/mdc-image-list";

.my-image-list {
  @include image-list.standard-columns(3);
}

.mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
}

h2 {
  margin-left: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
