<div class="flex-row">
  <h2>
    {{country === 'World' ? 'All trips' : ('Trips to ' + country)}}
  </h2>
  <h2>
    <app-mat-icon-animate 
      style="vertical-align: middle; cursor: pointer;"
      mouseInIcon="add_circle_outline"
      mouseOutIcon="add_circle"
      (click)="addTripDialog()"></app-mat-icon-animate>
  </h2>
</div>
<div *ngIf="trips" style="overflow: auto;height: 95%;">
  <mat-expansion-panel *ngFor="let trip of trips">
    <mat-expansion-panel-header
      *ngIf="containsLocation(trip, country)">
      <mat-panel-title>
        {{trip.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{trip.description}}
        <app-mat-icon-animate 
          style="vertical-align: middle;"
          mouseInIcon="more_horiz"
          mouseOutIcon="more_vert"
          (click)="viewTripDialog($event, trip)"></app-mat-icon-animate>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <ul
        class="mdc-image-list my-image-list mdc-image-list--with-text-protection"
        *ngIf="containsLocation(trip, country)">
        <li
          class="mdc-image-list__item"
          *ngFor="let image of trip.images; let i = index"
          (click)="viewImageDialog(trip, i)"
          style="cursor: pointer">
          <div class="mdc-image-list__image-aspect-container">
            <img
              class="mdc-image-list__image"
              src="{{imageUrl + '/' + image.name}}"
              style="object-fit: cover"
              alt="{{image.location}}, {{image.dateString}}">
          </div>
          <div class="mdc-image-list__supporting">
            <span class="mdc-image-list__label">{{image.location}} {{image.dateString}}</span>
          </div>
        </li>
        <li class="mdc-image-list__item">
          <div class="mdc-image-list__image-aspect-container">
            <img
              class="mdc-image-list__image"
              src="assets/add_a_photo-24px.svg"
              (click)="addImageDialog(trip)"
              style="cursor: pointer">
          </div>
        </li>
      </ul>
    </ng-template>
  </mat-expansion-panel>
</div>
