<div fxLayout="row">
  <div style="width: 30vw; flex-direction: row; height: 80vh">
    <app-trips [country]="selectedCountry" [trips]="trips" [admin]=""></app-trips>
  </div>
  <div style="width: 70vw; flex-direction: row">
    <mat-card>
      <div class="flex">
        <mat-card-title>{{title}}{{admin === undefined ? '' : ', '}}{{admin}}</mat-card-title>
        <mat-card-title>Images: {{imageCount}}</mat-card-title>
      </div>
      <mat-card-content>
        <div
          fxFlexFill
          class="chart-wrapper"
          #chartWrapper
          style="cursor:pointer;background: aqua; border-style: solid"
          (click)="reset()">
          <div class="chart" #chart style="height: 80vh"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
