<div fxFlexFill fxLayoutAlign="center center">
  <mat-card style="width: fit-content">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="loginForm.controls.username.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" type="submit">
            Sign In
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
