<h2 mat-dialog-title>Create a new trip</h2>
<mat-dialog-content class="mat-typography">
  <form (ngSubmit)="addTrip()" [formGroup]="addTripForm">
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="addTripForm.controls.name.hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Description (optional)" formControlName="description">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <button mat-raised-button color="primary" type="submit" [disabled]="addTripForm.invalid || loading">
        Create
      </button>
      <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    </div>
  </form>
</mat-dialog-content>
