<div style="width: 70vw">
  <app-mat-icon-animate
    *ngIf="trip.user === user.id"
    style="cursor: pointer"
    (click)="editTripDialog()"
    mouseInIcon="edit"
    mouseOutIcon="edit"
    ></app-mat-icon-animate>
  <h2 matDialogTitle>{{trip.name}}</h2>
  <app-mat-icon-animate
    *ngIf="trip.user === user.id"
    style="cursor: pointer"
    (click)="deleteTripDialog()"
    mouseInIcon="delete_forever"
    mouseOutIcon="delete"
    ></app-mat-icon-animate>
  <mat-icon *ngIf="trip.user !== user.id" style="cursor: pointer" (click)="leaveTripDialog()">person_remove</mat-icon>
</div>
<p>{{trip.description}}</p>
<p>
  Users: {{usersToString(users)}} 
  <app-mat-icon-animate
    *ngIf="trip.user === user.id"
    class="addUser"
    mouseInIcon="add_circle_outline"
    mouseOutIcon="add_circle"
    (click)="inviteUsersDialog()"></app-mat-icon-animate></p>
<ul class="mdc-image-list my-image-list mdc-image-list--with-text-protection" style="max-height: 70vh; overflow: auto">
  <li
    class="mdc-image-list__item"
    *ngFor="let image of trip.images; let i = index"
    (click)="viewImageDialog(trip, i)"
    style="cursor: pointer;">
    <div class="mdc-image-list__image-aspect-container">
      <img
        class="mdc-image-list__image"
        src="{{imageUrl + '/' + image.name}}"
        style="object-fit: cover">
    </div>
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">{{image.location}} {{image.dateString}}</span>
    </div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container">
      <img
        class="mdc-image-list__image"
        src="assets/add_a_photo-24px.svg"
        (click)="addImageDialog()"
        style="cursor: pointer">
    </div>
  </li>
</ul>
