@use "@material/image-list";
@use "@material/image-list/mdc-image-list";

.my-image-list {
  @include image-list.standard-columns(5);
}

div {
  display: flex;
  justify-content: space-between;
}

.addUser {
  vertical-align: middle;
  cursor: pointer;
}
