<div>
  <app-mat-icon-animate
    *ngIf="images[index].user === user.id"
    style="cursor: pointer"
    (click)="editImageDialog()"
    mouseInIcon="edit"
    mouseOutIcon="edit"
    ></app-mat-icon-animate>
  <h2 matDialogTitle>{{images[index].location}} {{images[index].dateString}}</h2>
  <app-mat-icon-animate
    *ngIf="images[index].user === user.id"
    style="cursor: pointer"
    (click)="deleteImageDialog()"
    mouseInIcon="delete_forever"
    mouseOutIcon="delete"
    ></app-mat-icon-animate>
</div>
<img
  src="{{imageUrl + '/' + images[index].name}}"
  (click)="index = (index + 1) % images.length"
  style="cursor: pointer">
