<h2 mat-dialog-title>Add user to {{trip.name}}</h2>
<mat-dialog-content class="mat-typography">
  <form (ngSubmit)="inviteUserToTrip()" [formGroup]="inviteUserForm">
    <div>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="name"
          [matAutocomplete]="auto"
          placeholder="Username">
        <mat-autocomplete #auto>
          <mat-option *ngFor="let name of usersObservable | async" [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="inviteUserForm.controls.name.hasError('notAUser')">
          Select a <strong>valid user</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <button mat-raised-button color="primary" type="submit" [disabled]="inviteUserForm.invalid || loading">
        Invite
      </button>
      <mat-spinner *ngIf="loading" diameter="30" fxLayoutAlign="end"></mat-spinner>
    </div>
  </form>
</mat-dialog-content>