<mat-sidenav-container fxFlexFill>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a mat-button routerLink="/">
          <mat-icon>map</mat-icon>
          Papa's Maps</a
        >
        <div fxFlex fxShow="true" fxHide.lt-md="true">
          <a mat-button routerLink="map">Map</a>

          <span fxFlex></span>

          <a mat-button [routerLink]="user ? 'profile' : 'register'">
            <mat-icon>{{ user ? "person" : "exit_to_app" }}</mat-icon>
            {{ user ? "My Profile" : "Register" }}</a
          >
          <button
            mat-button
            routerLink="login"
            (click)="user ? logout() : null"
          >
            <mat-icon>{{ user ? "exit_to_app" : "person" }}</mat-icon>
            {{ user ? "Logout" : "Login" }}
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div>
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
