<h2 mat-dialog-title>Add image(s) to {{trip.name}}</h2>
<mat-dialog-content class="mat-typography">
  <form (ngSubmit)="addImage()" [formGroup]="addImagesForm">
    <div>
      <mat-form-field>
        <ngx-mat-file-input #images formControlName="images" placeholder="Images" accept="image/*" multiple></ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!images.empty" (click)="images.clear($event)">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-icon matSuffix *ngIf="images.empty">image</mat-icon>
        <mat-error *ngIf="addImagesForm.controls.images.hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="addImagesForm.value.images">
      <div *ngIf="addImagesForm.value.images.files">
        <div *ngFor="let imageMetaData of imageMetaDataArray.controls; let i = index">
          <img src="{{imageSrcs[i]}}" height="auto" width="100px">
          <mat-icon (click)="propagateDates(i)" style="cursor:pointer;">arrow_downward</mat-icon>
          <mat-form-field [formGroup]="imageMetaData">
            <input
              matInput
              formControlName="date"
              [matDatepicker]="datepicker"
              placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-error *ngIf="imageMetaData.get('date').hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
          <mat-icon (click)="propagateLocations(i)" style="cursor:pointer;">arrow_downward</mat-icon>
          <mat-form-field [formGroup]="imageMetaData">
            <input
              type="text"
              matInput
              formControlName="location"
              placeholder="Location"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto>
              <mat-option *ngFor="let location of locationsObservables[i] | async" [value]="location">
                {{location}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="imageMetaData.get('location').hasError('forbiddenLocation')">
              Select a <strong>valid location</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <button mat-raised-button color="primary" type="submit" [disabled]="addImagesForm.invalid || loading">
        Create
      </button>
      <mat-spinner *ngIf="loading" diameter="30" fxLayoutAlign="end"></mat-spinner>
    </div>
  </form>
</mat-dialog-content>
