<h2 mat-dialog-title>{{question}}</h2>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(true)">Yes</button>
  <button mat-button (click)="dialogRef.close(false)">No</button>
</div>
