<h2 mat-dialog-title>Edit trip</h2>
<mat-dialog-content class="mat-typography">
  <form (ngSubmit)="saveTrip()" [formGroup]="editTripForm">
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="editTripForm.controls.name.hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Description (optional)" formControlName="description">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <button mat-raised-button color="primary" type="submit" [disabled]="editTripForm.invalid || loading">
        Save
      </button>
      <button mat-raised-button color="accent" [mat-dialog-close]="false">
        Cancel
      </button>
      <mat-spinner *ngIf="loading" diameter="30" fxLayoutAlign="end"></mat-spinner>
    </div>
  </form>
</mat-dialog-content>
