<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card style="max-width: 1500px;">
    <mat-card-header>
      <mat-card-title>
        Welcome to my mapping project!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This website allows you to map where you have taken pictures around the globe.
      </p>
      <img
        src="assets/example.png"
        alt="Example Map"
        width="100%"/>
      <p>
        The source of the maps was <a href="https://www.naturalearthdata.com/downloads/">Natural Earth</a>
      </p>
      <p>
        This website was built using <a href="https://angular.io/">Angular</a> and <a href="http://material.io/">Material IO</a> with an <a href="https://expressjs.com/">Express Server</a>. The maps were created and plotted using <a href="https://d3js.org">D3</a>, <a href="https://geojson.org/">GeoJSON</a> and <a href="https://github.com/topojson/topojson">TopoJSON</a> . I also used <a href="https://github.com/merlosy/ngx-material-file-input">ngx-material-file-input</a>
      </p>
      <p>
        This project was based off of a piece of university coursework I completed with <a href="https://github.com/furgoose">Fergus Longley</a>
      </p>
      <p></p>
    </mat-card-content>
  </mat-card>
</div>
