<div fxFlexFill fxLayoutAlign="center center">
  <mat-card style="width: fit-content">
    <mat-card-header>
      <mat-card-title>Update Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="updateProfile()" [formGroup]="updateForm">
        <div>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="updateForm.controls.username.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="updateForm.controls.password.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" type="submit">
            Update Profile
          </button>
        </div>
        <div>
          <button mat-raised-button color="accent" (click)="logout()" type="button">
            Log out
          </button>
          <button mat-raised-button color="warn" (click)="delete()" type="button">
            Delete
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
