<div fxFlexFill fxLayoutAlign="center center">
  <mat-card style="width: fit-content">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="register()" [formGroup]="registrationForm">
        <div>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="registrationForm.controls.username.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="registrationForm.controls.password.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Confirm Password" type="password" formControlName="passwordCheck">
              <mat-error *ngIf="registrationForm.controls.passwordCheck.hasError('mustMatch')">
                <strong>Passwords don't match</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
          <div>
          <button mat-raised-button color="primary" type="submit">
            Register
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
